*{
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
    font-variant: small-caps;
}
.secmain{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.box{
    margin-top: 20px;
    height: 110px;
    width:110px;
    background-color: lightgrey;
    border-radius: 15px;
}
.box p{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
#color{
    margin-left:30px;
    margin-top: 5px;
}